@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'blantic';
    src: url('./assets/fonts/blantic.woff2') format('woff2'),
        url('./assets/fonts/blantic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}